
  
 
  


/* Add the following styles for category labels */
.selectField option {
  background-color: #f0f0f0; /* Set the default background color to gray for category labels */
}

.selectField option:hover {
  background-color: #3498db; /* Set the background color to blue when hovering over category labels */
  color: #fff; /* Set the text color to white when hovering over category labels */
}

/* BlogForm.module.css */

.selectField,
.inputField,
.textareaField {
 /* Adjusted the width to leave room for the margin */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc; /* Add a light border */
  border-radius: 4px;
  margin-bottom: 10px; /* Add some space between inputs */
  margin-top: 10px; /* Add margin to the top */
  margin-right: 10px; /* Add margin to the right */
  margin-bottom: 20px; /* Add margin to the bottom */
  margin-left: 10px; /* Add margin to the left */
}

.inputField
{
  width: calc(100% - 16px); 
}

.textareaField{
  height: 150px;
  width: 98%
}




/* Add placeholder styles for inputs and textarea */
.selectField::placeholder,
.inputField::placeholder,
.textareaField::placeholder {
  color: #999;
}

.selectField:hover,
.inputField:hover,
.textareaField:hover {
  border-color: #3498db; /* Change border color on hover */
}

/* Add styling for the Quill editor */
.react-quill {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Add styling for the Image Upload */
/* Assuming ImageUpload component renders an input element */
.ImageUpload input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

/* BlogForm.module.css */
.scrollArrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease-in-out;
  background-color: red;
  border-radius: 50%;
  width: 40px; /* Adjust the width and height for your desired size */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white; /* Border color for the circle */
}

.scrollArrow:hover {
  color: #e74c3c; /* Change color on hover */
}


